/*------------------------------------*\
  BASE
\*------------------------------------*/

:root {
    --card-width: 600px;
}

* {
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    scroll-behavior: smooth;
}

/*------------------------------------*\
  COMPONENTS
\*------------------------------------*/

.layout button {
    background-color: transparent;
    cursor: pointer;
    touch-action: manipulation;
}

.preload {
    overflow: hidden;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
}

/* loading logic */

.load-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.flipping {
    width: 40px;
    height: 40px;
    animation: diagonal 1s infinite forwards;
    perspective: 168px;
}

.flipping:before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    animation: flipping 1s infinite forwards;
    background-color: white;
    transform-origin: bottom;
}

@keyframes diagonal {

    0%,
    50% {
        transform: rotate(45deg);
    }

    50.000000001%,
    100% {
        transform: rotate(-45deg);
    }
}

@keyframes flipping {
    0% {
        transform: translate(0, 0) rotateX(0deg);
    }

    50% {
        transform: translate(0, -100%) rotateX(0deg);
    }

    100% {
        transform: translate(0, -100%) rotateX(-180deg);
    }
}

/* layout 1 toggle button */

.layout .toggler {
    display: flex;
    align-items: center;
    transition: all 0.1s;
}

.layout .toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #2b283a;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
}

.layout .toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: lightgray;
    border-radius: 50%;
}

.layout .toggler-image {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 40px;
    color: whitesmoke;
    transition: visibility 0s, opacity 0.1s;
    white-space: nowrap;
}

.layout .toggler:hover {
    transform: scale(1.1);
}

.layout .toggler:hover .toggler-image {
    visibility: visible;
    opacity: 1;
}

.layout .arrow {
    width: 0;
    height: 0;
    position: relative;
    top: 5px;
    right: 5px;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #ffffff transparent transparent transparent;
}

/* layout 2 toggle button */

.layout2 .toggler {
    display: flex;
    align-items: center;
    transition: all 0.1s;
}

.layout2 .toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #800000;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
}

.layout2 .toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: lightgray;
    border-radius: 50%;
}

.layout2 .toggler-image {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 40px;
    transition: visibility 0s, opacity 0.1s;
    white-space: nowrap;
}

.layout2 .toggler:hover {
    transform: scale(1.1);
}

.layout2 .toggler:hover .toggler-image {
    visibility: visible;
    opacity: 1;
}

.layout2 .arrow {
    width: 0;
    height: 0;
    position: relative;
    top: 5px;
    right: 5px;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #800000 transparent transparent transparent;
}

/*------------------------------------*\
  LAYOUT 1
\*------------------------------------*/

.layout-body {
    background-image: url(./static/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: whitesmoke;
    font-family: "Inter", sans-serif;
}

.layout {
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 9px 12px 0px rgba(0, 0, 0, 0.6);
}

.layout .page {
    background-color: #273549;
    border-radius: 15px;
    box-shadow: 10px 10px 0px 0px rgba(2, 7, 93, 0.75);
    width: var(--card-width);
    display: flex;
    flex-direction: column;
}

/* navbar */

.layout .navbar {
    /* position: sticky ??? */
    display: flex;
    align-items: center;
    padding: 0.75em 1em;
    color: #1d1d1c;
    background-color: #f55a5a;
    border-radius: 15px 15px 0 0;
}

.layout .nav--title {
    font-weight: 500;
    letter-spacing: -0.065em;
    margin-right: auto;
}

/* dropdown menu */

.layout .dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    color: whitesmoke;
    transition: visibility 0s, opacity 0.5s;
    z-index: 1;
}

.layout .dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}

.layout .dropdown-content button {
    padding: 10px;
    display: block;
    background-color: #282c34;
    border: 0.1em solid whitesmoke;
}

.layout .dropdown-content button:hover {
    background-color: #273549;
    transform: scale(1.1);
}

/* content body */

.layout .title {
    font-family: "Karla", sans-serif;
    font-size: 40px;
    letter-spacing: -1px;
    padding: 10px 0 10px 20px;
    background-color: #273549;
    position: sticky;
    top: 0;
}

.layout .accent-text {
    color: #4adf86;
}

.layout .content {
    max-height: 75vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(166, 166, 230) transparent;
    position: relative;
}

.layout .text {
    padding: 0 20px 20px 20px;
}

.layout p {
    text-align: justify;
    /* text-justify: inter-word; */
    font-size: 1.25rem;
    padding-top: 15px;
}

.layout p>a {
    display: contents;
    color: #4adf86;
}

.layout .tf-img {
    float: right;
    width: 46%;
    margin-left: 20px;
}

.layout .build-img {
    float: left;
    width: 41%;
}

.layout .sc-img {
    float: left;
    width: 35%;
}

.layout .docker-img {
    float: right;
    width: 45%;
    margin: 0 0 10px 20px;
}

.layout .text>figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.layout ul {
    padding: 0 30px;
    list-style-type: armenian;
}

.layout li {
    font-size: 1.25rem;
    padding-top: 15px;
}

/* resume page */

.layout .download {
    font-family: inconsolata;
    text-decoration: none;
    border: 1px solid #45d880;
    width: 20rem;
    text-align: center;
    display: block;
    font-size: 1.375rem;
    line-height: 2.4;
    margin: 20px auto 0 auto;
    transition: all 0.25s;
}

.layout .download:hover {
    color: #45d880;
    background-color: whitesmoke;
}

/* footer */

.layout .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75em 1em;
    color: #1d1d1c;
    background-color: #f55a5a;
    border-radius: 0px 0px 15px 15px;
}

.layout .footer-text {
    margin-right: auto;
}

.layout .footer--link {
    text-decoration: none;
}

.layout .footer--link:hover {
    border-bottom: 5px solid rgb(166, 166, 230);
}

/* flip logic */

.layout .flip {
    position: absolute;
    transition: transform 1s, opacity 1s;
    backface-visibility: hidden;
    opacity: 0;
}

.layout .static {
    transform: rotateY(0deg);
    z-index: 1;
    opacity: 1;
}

.layout .flipped {
    transform: rotateY(180deg);
}

.layout .to-flip {
    transform: rotateY(-180deg);
}

/* contact form */

.layout .input-label::before,
.layout .input-label::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px
}

.layout .input-label::after {
    margin-top: 2px;
    border-bottom: 2px solid #08FDD8;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.3s;
}

.layout .input-field:focus+.input-label::after,
.layout .input--filled .input-label::after {
    transform: translate3d(0, 0, 0);
}

.layout .required .input-field+.input-label::after,
.layout .required .input--filled .input-label::after {
    transform: translate3d(0, 0, 0);
    border-color: red
}

.layout .input-field:focus+.input-label .input__label-content--hoshi,
.layout .input--filled .input__label-content--hoshi {
    animation: anim-1 0.3s forwards;
}

/*------------------------------------*\
  LAYOUT 2
\*------------------------------------*/

.layout2-body {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 229, 168, 1) 0%, rgba(251, 174, 222, 1) 100.7%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #800000;
    font-family: 'Exo 2', sans-serif;
}

.layout2 {
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.layout2 .page {
    position: absolute;
    width: var(--card-width);
    transition: all 0.5s;
    transform: translateZ(calc(var(--card-width)/2));
    backface-visibility: hidden;
    background-color: #FAD961;
    display: flex;
    flex-direction: column;
}

.layout2 #landing {
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    rotate: y 0deg;
    border-radius: 35px 5px 35px 0;
}

.layout2 #resume-page {
    background-image: linear-gradient(90deg, #F76B1C 0%, #FAD961 100%);
    rotate: y 90deg;
    border-radius: 0 35px 5px 35px;
}

.layout2 #quals-page {
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    rotate: y 180deg;
    border-radius: 35px 5px 35px 0;
}

.layout2 #service-page {
    background-image: linear-gradient(90deg, #F76B1C 0%, #FAD961 100%);
    rotate: y 270deg;
    border-radius: 0 35px 5px 35px;
}

/* content body */

.layout2 .nav--title {
    margin: 0;
    font-size: 40px;
    transform: translateX(-47px);
    font-family: 'Sarala';
    font-weight: 500;
}

.layout2 .title {
    font-family: 'Sarala';
    font-weight: 500;
    font-size: 20px;
    position: sticky;
    top: 0;
    transform: translateX(-33px);
    transition: all 0.1s;
}

.layout2 .content {
    max-height: 75vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(166, 166, 230) transparent;
    position: relative;
    padding-left: 250px;
    margin-left: -250px;
}

.layout2 .text {
    padding: 0 20px 20px 20px;
}

.layout2 p {
    text-align: justify;
    font-size: 1.2rem;
    padding-top: 15px;
}

.layout2 .tf-img {
    float: left;
    width: 45%;
    margin-right: 20px;
}

.layout2 .sc-img {
    float: right;
    width: 35%;
}

.layout2 .docker-img {
    float: left;
    width: 44%;
    margin: 0 10px 5px 0;
}

.layout2 .build-img {
    float: right;
    width: 41%;
}

.layout2 p>a {
    display: contents;
    color: #00ffff;
    text-shadow: 2px 2px #0093E9;
}

.layout2 ul {
    padding: 0 30px;
    list-style-type: georgian;
}

.layout2 li {
    font-size: 1.25rem;
    padding-top: 15px;
}

.layout2 .text>figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

/* navbar */

.layout2 .navbar {
    display: flex;
    align-items: center;
    padding: 0.75em 1em;
}

.layout2 .nav--title {
    margin-right: auto;
}

/* dropdown menu */

.layout2 .dropdown-content {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

.layout2:hover .dropdown>button {
    transform: scale(1) skewY(0);
}


.layout2 .dropdown:hover .dropdown-content>button {
    transform: scale(1) skewY(0);
}

.layout2 .dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}

.layout2 .dropdown button {
    display: block;
    border: 0.1em solid #800000;
    cursor: pointer;
    color: inherit;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 20px 55px 55px 55px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-size: 125% 100%;
    background-position: right;
    transform: scale(0) skewY(20deg);
    transition: all 100ms;
    transform-origin: left top;
}

.layout2 .dropdown button:hover {
    background-position: left;
}

/* footer */

.layout2 .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--card-width);
    padding: 0.75em 1em;
    border-radius: 0px 0px 15px 15px;
    background-color: transparent;
}

.layout2 .footer-text {
    margin-right: auto;
}

.layout2 .footer--link {
    text-decoration: none;
}

.layout2 .footer--link:hover {
    border-bottom: 5px solid rgb(166, 166, 230);
}

/* resume page */

.layout2 .download {
    font-family: inconsolata;
    text-decoration: none;
    border: 2px solid #800000;
    width: 20rem;
    text-align: center;
    display: inline-block;
    font-size: 1.375rem;
    line-height: 2.4;
    margin: 10px 20px;
    transition: all 0.25s;
}

.layout2 .download:hover {
    color: #f55a5a;
    background-color: #800000;
    border: 2px solid #f55a5a;
}